<table class="audio-table">
<thead>
  <tr>
    {% for column in include.table_data.columns %}
    <th {% if column.class %}class="{{ column.class }}"{% endif %}>
      {{ column.header | markdownify | remove: '<p>' | remove: '</p>' }}
    </th>
    {% endfor %}
  </tr>
</thead>
<tbody>
  {% for row in include.table_data.rows %}
  <tr>
    {% for item in row %}
    <td>
      {% if item.audio_url %}
        <audio src="{{ include.base_url }}/{{ item.audio_url | uri_escape }}" controls></audio>
      {% endif %}
			{% if item.label %}
				<span class="audio-label">{{ item.label }}</span>
			{% endif %}
			{% if item.value %}
				{{ item.value }}
			{% endif %}
		</td>
    {% endfor %}
  </tr>
  {% endfor %}
</tbody>
</table>
