html {
  scroll-behavior: smooth;
}

.main-content {
  /* Prevent overflow on mobile, see https://stackoverflow.com/questions/14270084/overflow-xhidden-doesnt-prevent-content-from-overflowing-in-mobile-browsers */
  position: relative;
  overflow-x: hidden;

  @include large {
    padding-top: 3rem;
  }
}

header {
  .buttons {
    margin-top: 2rem;

    @include large {
      margin-top: 3rem;
    }

    .btn {
      color: white;
      border-color: white;
      background: transparent;
      transition: color 0.3s, background-color 0.3s, border-color 0.3s;

      &:hover {
        color: black;
        text-decoration: none;
        background-color: white;
        border-color: white;
      }

      font-size: 1.2rem;

      i.fa {
        margin-right: 0.2em;
      }

      @include large {
        padding: 1rem 1.2rem;
        font-size: 1.5rem;
      }

      @include medium {
        padding: 0.7rem 1rem;
        font-size: 1.25rem;
      }
    }
  }
}

.badges > * {
  display: inline-block;
}

table.audio-table {
  td {
    vertical-align: top;
  }

  audio {
    height: 2.5rem;
    max-width: 11rem;

    @include large {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  .audio-label {
    display: block;
    text-align: center;
    font-size: 85%;
  }

  @include large {
    table-layout: fixed;

    .metric-col {
      width: 7em;
    }
  }

  @media screen and (max-width: #{$large-breakpoint}) {
    display: block;
    max-height: 90vh;
    overflow-y: auto;

    th {
      white-space: nowrap;
    }
  }

}
