table.audio-table {
  td {
    vertical-align: top;
  }

  audio {
    height: 2.5rem;
    max-width: 10rem;

    @include large {
      display: block;
      width: 100%;
      max-width: 100%;
    }
  }

  .audio-label {
    display: block;
    text-align: center;
    font-size: 85%;
  }

  @include large {
    table-layout: fixed;
  }

  @media screen and (max-width: #{$large-breakpoint}) {
    display: block;
    max-height: 90vh;
    overflow-y: auto;
  }

}
